<div class="wrapper">

  <canvas id="canvas" class="canvas" (mousemove)="preview($event)" (click)="canvasClick($event)"></canvas>

  <div *ngIf="selectedTile" class="info">
    <p>Map Info</p>
    <p>---</p>

    <p>Current Year</p>
    <p>{{ canvasService.atlas.year }}</p>

    <p>Active Kingdoms:</p>
    <ul>
      <li *ngFor="let kingdom of canvasService.atlas.kingdoms">
        {{ kingdom.name }}, (Founded: {{ kingdom.startYear }})
      </li>
    </ul>

    <p>Dead Kingdoms:</p>
    <ul>
      <div *ngFor="let kingdom of canvasService.atlas.deadKingdoms">
        <li *ngIf="kingdom.endYear - kingdom.startYear > 10">
          {{ kingdom.name }}, (Years: {{ kingdom.startYear }} -
          {{ kingdom.endYear }})
        </li>
      </div>
    </ul>

    <p>--------------------</p>
    <p>--------------------</p>

    <p>Tile Index</p>
    <p>{{ selectedTile.i }}</p>

    <p>Coordinates</p>
    <p>{{ selectedTile.x }}, {{ selectedTile.y }}</p>

    <p>Land</p>
    <p>{{ selectedTile.land }}</p>

    <p>Elevation</p>
    <p>{{ selectedTile.elevation }}</p>

    <p>--------------------</p>
    <p>--------------------</p>

    <p>Tile</p>
    <p>{{ selectedTile.settlementType }}</p>

    <p>Current Kingdom</p>
    <p>
      {{ selectedTile.getCurrentKingdom()?.name }} (Acquired:
      {{ selectedTile.yearAquired }})
    </p>

    <p>Contests</p>
    <p *ngIf="selectedTile.kingdomHistory.length > 0">
      {{ barGraphChar.repeat(selectedTile.kingdomHistory.length - 1) }}
    </p>

    <p>Past Kingdoms</p>
    <ul>
      <li *ngFor="let kingdom of selectedTile.kingdomHistory">
        {{ kingdom.name }}
      </li>
    </ul>
  </div>

  <div *ngIf="clickedTile" class="info">
    <p>Clicked Tile</p>
    <p>A {{clickedTile.getCurrentKingdom()?.inhabitantType}} {{clickedTile.settlementType}} in the {{clickedTile.getCurrentKingdom()?.name || 'wild'}}</p>
  </div>

  <!-- <div>
    <button (click)="canvasService.atlas.cleanUpDeadKingdoms()">ACTIVES</button>
  </div> -->
</div>
